

<div class=" welcome0">
  <h2 class="welcome1"> Welcome to Vesuvio, where you can experience a taste of Italia!</h2>
  <h3 class="welcome2"> Location: 4115 34th Avenue, Long Island City, NY</h3>
  <h3 class="welcome3">Hours : Wednesday - Sunday, 5pm - 10pm</h3>
</div>

<div id="my-carousel" class="carousel slide" data-ride="carousel">

 
  <ul class="carousel-indicators">
    <li data-target="#mycarousel1" data-slide-to="0" class="active"></li>
    <li data-target="#mycarousel2" data-slide-to="1"></li>
    <li data-target="#mycarousel3" data-slide-to="2"></li>
  </ul>
  
  
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://images.pexels.com/photos/1398688/pexels-photo-1398688.jpeg" alt="Los Angeles" width="1100" height="500">
    </div>
    <div class="carusel-item">
      <img src="https://images.pexels.com/photos/1123260/pexels-photo-1123260.jpeg" alt="Chicago" width="1100" height="500">
    </div>
    <div class="carousel-item">
      <img src="https://images.pexels.com/photos/8308187/pexels-photo-8308187.jpeg" alt="New York" width="1100" height="500">
    </div>
  </div>
  
 
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

<div class="menu">
  <h3 class="menu2">Menu</h3>
</div>
<div class="row d-flex justify-content-center">
  <div class="col-10 pb-5 text-center">
    <h4 class="text-center text-uppercase">Aperitivo</h4>
    <p class="text-uppercase">Fiori di Zucca Fritti - $7</p>
    <p class="text-uppercase">Antipasto Board - $12</p>
    <p class="text-uppercase">’Shcarole with Garlic - $10</p>
    <p class="text-uppercase">Arancini - $10 </p>
    <p class="text-uppercase">Calamari Ripieni -$12</p>
  </div>
</div>
<div class="row d-flex justify-content-center">
  <div class="col-10 pb-5 text-center">
    <h4 class="text-center  text-uppercase">Pasta</h4>
    <p class="text-uppercase">Pasta all’ Amatriciana - $13</p>
    <p class="text-uppercase">Ravioli alla Bucco - $13</p>
    <p class="text-uppercase">Fettuccine Primavera - $12</p>
    <p class="text-uppercase">Spaghetti Puttanesca - $12 </p>
    <p class="text-uppercase">Linguine Aglio Olio - $12</p>
  </div>
</div>
<div class="row d-flex justify-content-center">
  <div class="col-10 pb-5 text-center">
    <h4 class="text-center text-uppercase">Secondo</h4>
    <p class="text-uppercase">Veal Piccata with Capers - $18</p>
    <p class="text-uppercase">Quail Sinatra-Style - $19</p>
    <p class="text-uppercase">Osso Buco a la Bucco - $19</p>
    <p class="text-uppercase">Lobster Fra Diavolo - $19</p>
    <p class="text-uppercase">Filet Mignon with Red Wine Sauce - $25</p>
  </div>
</div>
<div class="row d-flex justify-content-center">
  <div class="col-10 pb-5 text-center">
    <h4 class="text-center text-uppercase">Dolce</h4>
    <p class="text-uppercase">Tiramisu - $9</p>
    <p class="text-uppercase">Mille Foglie - $9 </p>
    <p class="text-uppercase">Cannoli - $9 </p>
  </div>
</div>
<div class="row d-flex justify-content-center">
  <div class="col-10 pb-5 text-center">
    <h4 class="text-center text-uppercase">Vino</h4>
    <p class="text-uppercase">White: Segura Viudas</p>
    <p class="text-uppercase">Red: Ruffino Chianti Classico Riserve Ducale, Columbia Crest Cabernet, Ruffino Chianti
    </p>
  </div>
</div>

<script>
 
$(document).ready(function(){
 
  $("#my-carousel").carousel({interval: 500, wrap: false});
            
  
  $(".item1").click(function(){
    $("#my-carousel").carousel(0);
  });
  $(".item2").click(function(){
    $("#my-carousel").carousel(1);
  });
  $(".item3").click(function(){
    $("#my-carousel").carousel(2);
  });
    
  $(".carousel-control-prev").click(function(){
    $("#my-carousel").carousel("prev");
  });
  $(".carousel-control-next").click(function(){
    $("#my-carousel").carousel("next");
  });
});

</script>
</div>